
.topnav{
    z-index: 1;
    position: absolute;
    width: 62.5%;
    height: 10%;
    left: 0px;
    top: 0px;
}

.active{
    z-index: 1;
    position: absolute;
    left: 5%;
    top: 15%;
    font-family: Roboto;
    font-size: 1.4vw;
    color: black;
}

.about{
    z-index: 1;
    position: absolute;
    left: 18%;
    top: 15%;
    font-family: Roboto;
    font-size: 1.4vw;
    color: #000000;
}

.projects{ 
    z-index: 1;
    position: absolute;
    left: 35%;    
    top: 15%;
    font-family: Roboto;
    font-size: 1.4vw;
    color: #000000;
}

.resume{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 15%;
    font-family: Roboto;
    font-size: 1.4vw;
    color: black;
}

.background1{
    position: absolute;
    width: 30%;
    height: 90%;
    right: 0%;
    top: 0px;

    background: #D9EDF0;
}

.background2{  
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0%;
    top: 90%;
    background-color: #FAECE0;
}

.background3{
    width: 30%;
    position: absolute;
    height: 90%;
    left: 0%;
    background: #D9EDF0;
    top: 130%;
}


.bottom{
    left: 0%;
    top: 212%;
    position: absolute;
    font-family: Roboto;
    font-size: 1vw;
}

.contact{
    right:2%;
    top: 205%;
    position: absolute;
    text-align: right;
    font-family: Roboto;
    font-size: 1vw;
}

.cheer{
    z-index: 1;
    width: 280px;
    position: absolute;
    right: 19%;
    top: 10%
}

.cheer2{
    z-index: 1;
    width: 280px;
    position: absolute;
    left: 19%;
    top: 140%;
}

.name{
    font-family: Roboto;
    position: absolute;
    left: 1%;
    top: 5%;
    font-size: 50px;
}

.def{
    font-family: Roboto;
    position: absolute;
    left: 1%;
    top: 17%;
    font-size: 30px;
}

.intro1{
    font-family: Roboto;
    position: absolute;
    left: 1%;
    top: 38%;
    max-width: 55%;
    font-size: 18px;
}

.intro2{
    font-family: Roboto;
    position: absolute;
    top: 145%;
    right: 1%;
    max-width: 55%;
    font-size: 18px;
}

.img1{
    height: 90%;
    top: 5%;
    position:absolute;
    left: 1%;
}

.img2{
    height: 90%;
    top: 5%;
    position:absolute;
    left: 17%;
}

.img3{
    height: 90%;
    top: 5%;
    position:absolute;
    left: 33%;
}

.img4{
    height: 90%;
    top: 5%;
    position:absolute;
    left: 49%;
}


.img5{
    height: 90%;
    top: 5%;
    position:absolute;
    left: 65%;
}

.imgline{
    z-index: 3;
    background-color: black; 
    height: 90%;
    top: 5%;
    width: 2px;
    right: 19%;
    position:absolute;
}

.imgdesc{
    font-family: Roboto;
    position: absolute;
    right: 11.5%;
    top: 12%;
}

@media only screen and (max-device-width: 480px){

    .background1{
        position: absolute;
        width: 30%;
        height: 40%;
        right: 0%;
        top: 0px;
    
        background: #D9EDF0;
    }

    .background2{  
        position: absolute;
        width: 100%;
        height: 20%;
        left: 0%;
        top: 40%;
        background-color: #FAECE0;
    }
    
    .background3{
        width: 30%;
        position: absolute;
        height: 40%;
        left: 0%;
        background: #D9EDF0;
        top: 60%;
    }

    .def{
        font-family: Roboto;
        position: absolute;
        left: 1%;
        top: 10%;
        font-size: 30px;
    }
    
    .intro1{
        font-family: Roboto;
        position: absolute;
        left: 1%;
        top: 17%;
        max-width: 50%;
        font-size: 20px;
    }

    
    .intro2{
        font-family: Roboto;
        position: absolute;
        top: 65%;
        right: 1%;
        max-width: 50%;
        font-size: 20px;
    }


    .cheer2{
        z-index: 1;
        width: 280px;
        position: absolute;
        left: 15%;
        top: 67%;
    }
  
    .img1{
        height: 50%;
        top: 25%;
        position:absolute;
        left: 1%;
    }

            
    .img2{
        height: 50%;
        top: 25%;
        position:absolute;
        left: 17%;
    }

    .img3{
        height: 50%;
        top: 25%;
        position:absolute;
        left: 33%;
    }

    .img4{
        height: 50%;
        top:25%;
        position:absolute;
        left: 49%;
    }


    .img5{
        height: 50%;
        top: 25%;
        position:absolute;
        left: 65%;
    }
    
    .imgdesc{
        font-family: Roboto;
        position: absolute;
        right: 9%;
        top: 25%;
    }
    .bottom{
        left: 0%;
        top: 95%;
        position: absolute;
        font-family: Roboto; 
    }

    .contact{
        right:2%;
        top: 95%;
        position: absolute;
        text-align: right;
        font-family: Roboto;
    }   
}