
.topnav{
    z-index: 1;
    position: absolute;
    width: 62.5%;
    height: 10%;
    left: 0px;
    top: 0px;
}

.active{
    z-index: 1;
    position: absolute;
    left: 5%;
    top: 15%;
    font-family: Roboto;
    font-size: 1.4vw;
    color: black;
}

.about{
    z-index: 1;
    position: absolute;
    left: 18%;
    top: 15%;
    font-family: Roboto;
    font-size: 1.4vw;
    color: #000000;
    text-decoration:none
}

.projects{ 
    z-index: 1;
    position: absolute;
    left: 35%;    
    top: 15%;
    font-family: Roboto;
    font-size: 1.4vw;
    color: #000000;
    text-decoration:none
}

.resume{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 15%;
    font-family: Roboto;
    font-size: 1.4vw;
    color: black;
    text-decoration:none
}

.background{
    z-index: 0;
    position: absolute;
    width: 73.5vw;
    height: 88vh;
    left: 0%;
    top: 0%;
    background: #D9EDF0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.hello{
    z-index: 1;
    position: absolute;
    font-family: Roboto;
    font-size: 8vh;
    left:1%;
    top: 5%;
}

.sarah{
    z-index: 1;
    position: absolute;
    font-family: Roboto;
    font-size: 6vh;
    top: 18%;
    left: 1%;
    
}

.intro1{
    z-index: 1;
    position: absolute;
    font-family: Roboto;
    font-size: 3vh; 
    top: 45%;
    left: 1%;
    max-width: 80%;
}

.intro2{
    z-index: 1;
    position: absolute;
    font-family: Roboto;
    font-size: 3vh; 
    top: 65%;
    left: 1%;
    max-width: 80%;

}

.background2{
    position: absolute;
    width: 32.5%;
    height: 80%;
    left: 85%;
    top: 15%;
    background: #FAECE0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
   

}

.background2 .footer{
    background: white;
    height: 10%;
    bottom: 0%;
    width: 100%;
    position: absolute;
    
}

.profile{
    z-index: 3;
    position: absolute;
    width: 80%;
    height:auto;
    left: 10%;
    top: 5%;
    border-radius: 1000px;
    
}

.name{
    font-family: Roboto;
    font-size: 5vh;
    z-index: 3;
    top: 18.5vw;
    position: absolute;
    width: 100%;
    text-align: center;
    
}

hr{
    z-index: 3;
    position: absolute;
    width: 60%;
    top:300px;
    left:20%;
}

.student{ 
    font-family: Roboto;
    font-size: 2.5vh;
    z-index: 3;
    position: absolute;
    bottom: 12.5%;
    text-align: center;
    width: 100%;
    
}

.bottom{
    left: 0%;
    bottom: 0%;
    position: absolute;
    font-family: Roboto;
    font-size: 1vw;
}

.contact{
    right:2%;
    bottom: 0%;
    position: absolute;
    text-align: right;
    font-family: Roboto;
    font-size: 1vw;
}

.resumebtn{
    position: absolute;
    left: 10%;
    top: 37.5%;
    width: 100px;
    height: 30px;
    text-decoration: none;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.projectbtn{
    position: absolute;
    left: 47%;
    top: 37.5%;
    width: 100px;
    height: 30px;
    text-decoration: none;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.resumebtn:hover{
    background-color: #FAECE0;
}

.projectbtn:hover{
    background-color: #FAECE0;
}

.twitter{
    position: absolute;
    height: 3vw;
    left: 70%;
}

.linkedin{
    position: absolute;
    height: 3vw;
    left: 20%;
}

.instagram{
    position: absolute;
    height:3vw;
    left: 45%
}

.instagram:hover{
    background-color: #D9EDF0;
}

.linkedin:hover{
    background-color: #d9edf0;
}

.twitter:hover{
    background-color: #d9edf0;
}

.btntext{
    font-family: Roboto;
    position: absolute;
    bottom: -9px;
    left: 20%;
    color: black; 
}

@media only screen and (max-device-width: 480px){
    .name{
        font-family: Roboto;
        font-size: 5vh;
        z-index: 3;
        top: 20%;
        position: absolute;
        width: 100%;
        text-align: center;
        
    }
    
    hr{
        z-index: 3;
        position: absolute;
        width: 60%;
        top:50%;
        left:20%;
    }
    
    .student{ 
        font-family: Roboto;
        font-size: 2.0vh;
        z-index: 3;
        position: absolute;
        top: 55%;
        text-align: center;
        width: 100%;
        
    }
    
    .twitter{
        position: absolute;
        height: 5vw;
        top: 10px;
        left: 70%;
        }

    .linkedin{
        position: absolute;
        height: 5vw;
        top: 10px;
        left: 10%;
}

    .instagram{
        position: absolute;
        height:5vw;
        top:10px;
        left: 40%;
    }

    .resumebtn{
        position: absolute;
        left: 5%;
        top: 37.5%;
        width: 100px;
        height: 30px;
        text-decoration: none;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    

}